<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DROPLING</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="stylesheet" href="css/chat.css">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  
</head>

<body>
  <div id="loader" class="center">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

  <div id="frame" class="container">
    <div class="app">

      <div class="head clearfix">
        <span class="title"> Dropling</span>
        <span onclick="gotocontact()" class="messages-notification">
          <i class="fa fa-comments-o"></i>
          {{!-- <span class="count">2</span> --}}

        </span>
      </div>

      {{!-- <div class="search-bar">
        <i class="fa fa-search"></i>
        <input type="text" class="ip-search" placeholder="Search" />
      </div> --}}

      <div class="body">
        <div class="friend-list clearfix">

          <ul id="showcontact">


            <li>
              {{!-- <span class="messages">
                <span class="count">1</span>
              </span>
              <img src="https://s5.postimg.cc/3wnxyjz8n/image.png" alt="" />
              <span class="name">
                Sophia
                <span class="status">
                  Active 2h ago
                </span>
              </span> --}}
              <button onclick="right()" class=""
                style="position:relative; margin-top:5%;height:40px;width: 40px;display:none;background:none;border-radius: 30%;box-shadow:2px 2px white;visibility:hidden"><i
                  class="fa fa-arrow-left"></i></button>

            </li>

            <li style="visibility:hidden;display:none">
              <span class="messages hide">
                <span class="count"></span>
              </span>
              <img src="https://s5.postimg.cc/q9vold06b/image.png" alt="" />
              <span class="name">
                IRIS Chatbot
                <span class="status">(beta)
                </span>
              </span>
            </li>
            <li style="margin-left: 5%;" class="active">
              <img id="dp"  src="https://s5.postimg.cc/q9vold06b/image.png" alt="" />

              <span style="float:left;margin-right:10%" class="name">
                <p id="showtochatname">Emma</p>
                <span class="status" id="showstatus">
                  {{!-- Active 2 mins ago(beta) --}}
                  {{!-- offline --}}
                </span>
                <span id="showtyping" class="status" >
                   <div class="typingIndicatorContainer">
    <div class="typingIndicatorBubble">
      <div class="typingIndicatorBubbleDot"></div>
      <div class="typingIndicatorBubbleDot"></div>
      <div class="typingIndicatorBubbleDot"></div>
    </div>
  </div>
 
                </span>
              </span>
            </li>
            <li   class="" id="musicplayer" >
              <input id="musicshow" type="text" disabled="true" >
              <input   class="fa fa-upload musicupload" type="file" id="songfile"  accept="audio/mp3, audio/mp4,audio/mpeg"  id="myFile" name="filename">
             
               <audio controls class="musiccontrol"  id="audio_player" ></audio>
              </li>





            <li style="visibility:hidden;display:none">
              {{!-- <span class="messages hide">
                <span class="count"></span>
              </span>
              <img src="https://s5.postimg.cc/dz2q1ae5f/image.png" alt="" />
              <span class="name">
                Mark
                <span class="status">
                  Online
                </span>
              </span> --}}


              <button onclick="right()" class=""
                style="position:relative; margin-top:5%;height:40px;width: 40px;background:none;border-radius: 30%;box-shadow:2px 2px white"><i
                  class="fa fa-arrow-right"></i></button>

            </li>

          </ul>

        </div>

        <div class="chat-messages">
          <div class="chat">
            <div class="chat-content clearfix">
              <div id="showchat">
                {{!--
                <span class="friend last">
                  <strong>Arka</strong>
                  <hr class="edithr">
                  Hi, How are You?
                  <span class="time">
                    7:30 PM
                  </span>
                </span>
                <span class="you first">
                  Hi, I am fine.
                  How about you?
                  <span class="time">
                    7:31 PM
                  </span>
                </span>
                <span class="friend last">
                  <strong>Arka</strong>
                  <hr class="edithr">
                  Hi, How are You?
                  <span class="time">
                    7:30 PM
                  </span>
                </span>

                <span class="you last">
                  lets meet,
                  this sunday!
                  <span class="time">
                    7:31 PM
                  </span>
                </span> --}}
              </div>


            </div>


          </div>
        <div>
          <i class="fa fa-close" onclick="closeswipe()" id="closeswipe" ></i>
    <input type="text" disabled="true" id="showswipe" placeholder="Lets's Say" />
        </div>
      
        </div>
        </div>
      <!-- <input type="text" class="ip-msg" placeholder="type something.." /> -->



      <div class="footer">

        <ul>
          <li class="active">
            <i class="fa fa-comments-o"></i>
          </li>
          <li>
            <i class="fa fa-lock"></i>
          </li>
          <li >
            <i id="changeheart1" class="fa fa-lock "></i>
            

          </li>
          <li onclick="deletefullchat()">
            <i class="fa fa-trash"></i>
          </li>
          <li>
            <i onclick="gotosettings()" class="fa fa-cog"></i>
          </li>
        </ul>
      </div>


    </div>
    
    <input type="text" id="chatinput" class="ip-msg"  placeholder="Lets's Say" />
    <button id="sendbutton" onclick="sendmessage()">
      <i class="fa fa-send"></i>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

    </button>
  </div>








<audio id="send">
  <source src="audio/send.mp3" type="audio/mpeg">
</audio>
<audio id="recieve">
  <source src="audio/send.mp3" type="audio/mpeg">
</audio>


</body>

</html>
      <script src="js/url.js"></script>
      <script src="js/chat.js"></script>


{{!-- 

console.log("hi kire"+nowuser);
      
      
{{!-- 


     fetch(url+"/Sendmessage", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "Access-Control-Allow-Headers": "Content-Type",
          "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
          "Access-Control-Allow-Origin": "*",
        },
        body: JSON.stringify(ds),
      })

        .then((res) => res.json())
        .then((data) => {
          console.log("data");


        })
        .catch((err) => console.log(err)); --}}
{{!-- if (data.length - i > unseenforthisuser) {
                if (data.swipe == "" || data.swipe == undefined) {


                  allmessages = allmessages + `<span style="margin-top:2%;"  class="you first">
                       `+ data.chatbody + `
                        <span style="color:white" class="time">
                          `+ data.time + `
                          <span class="seen">file  </span>
                          <span onclick="swipe('`+ data.chatbody + `')" class="tick">file  </span>
                        </span>
                  </span>

                  `;

                }
                else {

                  allmessages = allmessages + `<span style="margin-top:2%;"  class="you first">
                     <p id="swipe" >`+ data.swipe + `<p>
                            <hr id="swipehr">
  
                       `+ data.chatbody + `
                        <span style="color:white" class="time">
                          `+ data.time + `
                          <span class="seen">file  </span>
                          <span onclick="swipe('`+ data.chatbody + `')" class="tick">file  </span>
                        </span>
                  </span>

                  `;


                }
              }
              else {
                if (data.swipe == "" || data.swipe == undefined) {

                  allmessages = allmessages + `<span style="margin-top:2%;"  class="you first">
                       `+ data.chatbody + `
                        <span style="color:white" class="time">
                          `+ data.time + `
                          <span  style="width:15px;height:2px;border-radius:50%;background:red;">file  </span>
                          <span onclick="swipe('`+ data.chatbody + `')" class="tick">file  </span>
                        </span>
                  </span>
                  `;

                }
              
              else {
                allmessages = allmessages + `<span style="margin-top:2%;"  class="you first">
                  <p id="swipe" >`+ data.swipe + `<p>
                            <hr id="swipehr">
                     
                       `+ data.chatbody + `
                        <span style="color:white" class="time">
                          `+ data.time + `
                          <span  style="width:15px;height:2px;border-radius:50%;background:red;">  </span>
                          <span onclick="swipe('`+ data.chatbody + `')" class="tick">file  </span>

                        </span>
                  </span>
                  `;

              }
              }
            --}}

{{!--

function showcontact(){
var allcontacts=JSON.parse( localStorage.getItem("allcontacts"));
console.log(allcontacts);
var data=`
<li>
  <button onclick="right()" class=""
    style="position:relative; margin-top:5%;height:40px;width: 40px;background:none;border-radius: 30%;box-shadow:2px 2px white"><i
      class="fa fa-arrow-left"></i></button>

</li>`;
for (var i=0;i<allcontacts.length;i++){ console.log(allcontacts[i].toname); if(i!=1 ){
  if(allcontacts[i].toid==localStorage.getItem("toid")){ } data=data+` <li>
  <span class="messages hide">
    <span class="count"></span>
  </span>
  <img src="https://s5.postimg.cc/q9vold06b/image.png" alt="" />
  <span class="name">
    `+allcontacts[i].toname+`
    <span class="status">
      Online
    </span>
  </span>
  </li>
  `;
  }
  else if(i==1){
  data=data+`<li class="active">
    <span class="messages hide">
      <span class="count"></span>
    </span>
    <!-- <img src="https://s5.postimg.cc/nttv7ii3n/image.png" alt="" /> -->
    <img src="https://s5.postimg.cc/q9vold06b/image.png" alt="" />

    <span class="name">
      <p id="showtochatname">`+localStorage.getItem("tousername")+`</p>
      <span class="status">
        Active 2 mins ago(beta)
      </span>
    </span>
  </li>
  `;
  }
  }

  document.getElementById("showontact").innerHTML=data+` <li>



    <button onclick="right()" class=""
      style="position:relative; margin-top:5%;height:40px;width: 40px;background:none;border-radius: 30%;box-shadow:2px 2px white"><i
        class="fa fa-arrow-right"></i></button>

  </li>

  `;
  }
  showcontact();

  --}}
  {{!--  setTimeout(()=>{ 
  socket.emit("setonlinebynet",{userid:localStorage.getItem("userid")});
             }, 500);
   --}}