<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="google-signin-client_id" content="31628992962-u8rfhl4f69tt6g13q89dojpsj0feqp87.apps.googleusercontent.com">
      <title>Transparent Login Form HTML CSS</title>
      {{!-- <link rel="stylesheet" href="style.css"> --}}
      <link rel="stylesheet" href="css/login.css">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body onload="init()">
       <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="https://accounts.google.com/gsi/client" async></script>
      <div class="bg-img">
         <div class="content">
            <header>Login Form</header>
            <form onsubmit="submitd(0)">
               <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="text" id="email" name="email"  required placeholder="Email">
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" id="pass" name="pass" class="pass-key" required placeholder="Password">
                  <span class="show" onclick="showpassword()">SHOW</span>
               </div>
               <div class="pass">
                  <a  onclick="sendmailforgotpassword()">Forgot Password?</a>
               </div>
               <div class="field">
                  <input type="submit" value="LOGIN">
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="instagram" onclick="init()">
                  <i class="fab fa-google"><span>Google</span></i>
               </div>
               </div>
              
              {{!-- <div class="g-signin2" data-onsuccess="" data-ux_mode="popup"
    data-auto_prompt="true" ></div>
            </div>
    <div class="g_id_signout" style="background-color: aliceblue;">Sign Out</div> --}}
            <div class="signup">
               Don't have account?
               <a href="register">Signup Now</a>
            </div>
         </div>
      </div>
      


      <script src="js/url.js"></script>
      <script src="js/login.js"></script>


   </body>
</html>