<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Login Form HTML CSS</title>
      <link rel="stylesheet" href="css/register.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
            <meta name="google-signin-client_id" content="31628992962-u8rfhl4f69tt6g13q89dojpsj0feqp87.apps.googleusercontent.com">

     
   </head>
   <body>
      {{!-- <div>
         <img src="css/bg.jpg" alt="background">
      </div> --}}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script src="https://accounts.google.com/gsi/client" async></script>

      <div class="bg-img">
         <div class="content" >
            <header>Register Here</header>
            <form onsubmit="submitd()" >
               <div class="field space">
                  <span class="fa fa-user"></span>
                  <input type="text" id="name" name="name" required placeholder="UserName(max-10)" maxlength="10">
               </div>
               <div class="field space">
                <span class="fa fa-user" ></span>
                <input type="text" id="email" name="email" required placeholder="Email id">
             </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" name="pass" id="pass" class="pass-key" required placeholder="Enter Password">
                  <span class="show">SHOW</span>
               </div >
               <div style="margin-top:20px;height:180px;overflow-y:scroll">
               <div id="showdp" class="image">
  

                  </div>
                     </div>

                     
						
               <div class="field space">
                  <input  type="submit" value="REGISTER">
               </div>
            </form>
            <div class="login">
               Or Continue With
            </div>
            <div class="links">
               <div onclick="init()" class="google">
                  <i class="fab fa-google" >oogle<span></span></i>
               </div>
            </div>
            <div class="signup">
               Already have an account? 
               <a href="login">Log in</a>
            </div>
         </div>
      </div>
      <script src="js/url.js"></script>
      <script src="js/register.js"></script>

      
   </body>
</html>