<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DROPLING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
      <link rel="stylesheet" href="css/setting.css">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
     </head>
  <body>
    <div class="container">
      <header class="header">
        <button class="back-button" onclick="gotocontact()">&larr;</button>
        <h1 class="page-title">Settings</h1>
      </header>

      <div class="settings-content">
        <p><span>Online Status(beta)</span> <label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label></p>

<p><span>Autoscroll</span> <label class="switch">
  <input id="scrollvalue" onclick="changesettings(`scrollvalue`)" type="checkbox"  checked >
  <span class="slider round"></span>
</label></p>

        <p><span>Send Sound</span> <label class="switch">
  <input id="soundvalue" onclick="changesettings(`soundvalue`)" type="checkbox" checked >
  <span class="slider round"></span>
</label></p>
        <p onclick="logout()"> <input type="submit" value="Log Out" id="logout"/></p>
        
      </div>
    </div>
  </body>
</html>
      <script src="js/settings.js"></script>
